
:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }
  .declaration-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:.5rem;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;

    .declaration-form-container{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 500px;
      align-items: center;
      justify-content: center;
      position: relative;
      .loading-inner-div{
        z-index: 5;
        background-color: rgba($color: #000000, $alpha: .2);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .3rem;
      }
      .declaration-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
      img{
        align-self: center;
        margin: 0 auto;
        object-fit: contain;
        width: 200px;
        border: thin solid gainsboro;
        border-radius: .2rem;
        
      }
      label{
        display: flex;
        gap:1rem;
        width: 100%;
        box-sizing: border-box;
        align-items: center;
        span{
          flex: 1;
          font-weight: 500;
        }
        input{
          flex: 1;
          padding: 0.5rem 1rem;
          border:thin solid gainsboro;
          border-radius: .3rem;
        }
        
      }
      button[type="submit"]{
        background-color: #E61D6A;
        color: white;
        font-weight: 500;
        display: block;
        align-self: center;
        margin-bottom: 1rem;
      }
      
      .response-text{
        text-align: center;
        width: 100%;
        margin-top: 1rem;
      }

    }
  }
  .wide-btn{
    text-transform: none !important;
  }
  .curr-responses{
    padding: 1rem;
    border-radius: .3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(153,147,153,.5);
    -moz-box-shadow: 2px 2px 2px 2px rgba(153,147,153,.5);
    box-shadow: 2px 2px 2px 2px rgba(153,147,153,.5);
  }
  .currency-container{
    display: flex;
    flex-direction: column;
    position: relative;
    &.weak{
      opacity: .3;
    }
  }
  .curr-container{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 30%;
    min-width: 250px;
    gap: 1rem;
    margin-top: 1rem;
    .curr-title{
      font-weight: 600;
      flex: 1;
    }
    .curr-value{
      font-weight:lighter;
      font-size: 1.5rem;
      
    }
  }
.viewer-side{
    display: flex;
    justify-content: center;

    form{
      .select-pdf-label{
        border: thin dashed grey;
        min-width: 500px;
        min-height: 200px;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        border-radius: .5rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        align-self: center;
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover{
          background-color: #fff;
        }
      
      }
        
    }

}


.fetched-info{
    border: thin solid gainsboro;
    background-color: #fff;
    padding: 1rem;
    border-radius: .5rem;
}
.one-line{
    display: flex;
    gap: .3rem;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5rem;
    .row-ti{
        font-weight: 500;
        flex: 1;
    }
      
      select {
        //appearance: none;
        background-color: inherit;
        //border: none;
        padding: 0 1em 0 0;
        margin: 0;
        flex: 1;        
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
      
        z-index: 1;
      
        &::-ms-expand {
          display: none;
        }
      outline: none;
      }
      
      .select {
        display: grid;
        grid-template-areas: "select";
        align-items: center;
        position: relative;
        border: 1px solid gainsboro !important;
      
        select,
        &::after {
          grid-area: select;
        }
      
        min-width: 15ch;
        max-width: 30ch;
      
        border: 1px solid var(--select-border);
        border-radius: 0.25em;
        padding: 0.25em 0.5em;
      
        font-size: 1.25rem;
        cursor: pointer;
        line-height: 1.1;
      
        // Optional styles
        // remove for transparency
        background-color: #fff;
        background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
      
        // Custom arrow
        &:not(.select--multiple)::after {
          content: "";
          justify-self: end;
          width: 0.8em;
          height: 0.5em;
          background-color: var(--select-arrow);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
        }
      }
      
      // Interim solution until :focus-within has better support
      select:focus + .focus {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border: 2px solid var(--select-focus);
        border-radius: inherit;
      }
      
      select[multiple] {
        padding-right: 0;
      
        /*
         * Safari will not reveal an option
         * unless the select height has room to 
         * show all of it
         * Firefox and Chrome allow showing 
         * a partial option
         */
        height: 6rem;
      
        option {
          white-space: normal;
      
          // Only affects Chrome
          outline-color: var(--select-focus);
        }
      
        /* 
         * Experimental - styling of selected options
         * in the multiselect
         * Not supported crossbrowser
         */
        //   &:not(:disabled) option {
        //     border-radius: 12px;
        //     transition: 120ms all ease-in;
      
        //     &:checked {
        //       background: linear-gradient(hsl(242, 61%, 76%), hsl(242, 61%, 71%));
        //       padding-left: 0.5em;
        //       color: black !important;
        //     }
        //   }
      }
      
      .select--disabled {
        cursor: not-allowed;
        background-color: #eee;
        background-image: linear-gradient(to top, #ddd, #eee 33%);
      }
      
      label {
        font-size: 1.125rem;
        font-weight: 500;
      }
      
      .select + label {
        margin-top: 2rem;
      }
      
      
}

.err-text{
  opacity: .7;
  text-align: center;
  margin-top: 1rem;
}
input#curr-date[type="date"]{
  background-color: #1976d2;
  margin-top: 1rem;
  padding: 8px;
  top: 50%;
  left: 50%;
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  &::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
}

.loaderCurr  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
  position: absolute;
  align-self: center;
  margin: 0 auto;
  top: 25%;
  left: 40%;
  opacity: 1;
  z-index: 10;
}

.loaderCurr:before,
.loaderCurr:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loaderCurr:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loaderCurr:after {
  animation: ball2 1s infinite; 
  background-color: #1976d2;
  box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

